<%= form_for(character) do |f| %>
<%= render "shared/errors", model: character %>

  <%= f.text_field(:name, :size => 20) %>

  <div class="actions">
    <%= f.submit %>
    <%= link_to "Cancel", character %>
  </div>
<% end %>
