<h1>Wheel of Time Characters</h1>
<%= link_to "new character", new_character_url, accesskey: "n", style: "display:none;" %>

<table>
  <% @characters.each do |character| %>
  <tr class= <%= cycle("odd", "even") %>>
    <td>
      <%= link_to character.name, character %>
      <% unless character.aliases.empty? -%>
      (<%= character.aliases.join(', ') %>)
      <% end -%>
    </td>
    <td>
      <%= edit_link_to edit_character_path(character) %>
    </td>
    <td>
      <%= delete_link_to character %>
    </td>
  </tr>
  <% end %>
</table>
