<p id="notice"><%= notice %></p>

<h1><%= character.name %></h1>

<table>
  <tr>
    <th>Category</th>
    <th>Value</th>
    <th></th>
    <th></th>
  </tr>
  <% character.tags.sorted.each do |tag| -%>
    <tr>
      <td>
        <%= tag.category.name %>
      </td>
      <td>
        <%= tag.value %>
      </td>
      <td>
        <%= link_to 'Edit', edit_character_tag_path(tag.character,tag) %>
      </td>
      <td>
        <%= link_to 'Destroy', character_tag_path(tag.character,tag), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end -%>
</table>

<p>
  <%= link_to 'New Tag', new_character_tag_path(character) %> |

  <%= link_to 'Edit', edit_character_path(character) %> |
  <%= link_to 'Back', characters_path %>
</p>
