<h1><%= character.name %> <%= edit_link_to edit_character_path(character) %></h1>

<h2>Tags <%= add_link_to nil, new_character_tag_path(character) %></h2>

<table>
  <% character.tags.sorted.each do |tag| -%>
    <tr>
      <td>
        <%= tag.category.name %>
      </td>
      <td>
        <%= tag.value %>
      </td>
      <td>
        <%= edit_link_to edit_character_tag_path(tag.character,tag) %>
      </td>
      <td>
        <%= delete_link_to character_tag_path(tag.character,tag), target: "the tag #{tag.name}=#{truncate(tag.value, limit: 10)}"  %>
      </td>
    </tr>
  <% end -%>
</table>
