<p>
  For <%= character.name %>:
</p>

<% $stdout.puts "DBG: tagg.character=#{tagg.character.id}" -%>
<%= form_for([character,tagg]) do |f| %>
<%= render "shared/errors", model: tagg %>

<%= f.hidden_field :character_id %>

<p>
  <%= f.label :category %>
  <% if tagg.new_record?  %>
  <%= f.select :category_id, Category.to_select %>
  <% else %>
  <%= tagg.name %>
  <% end %>
</p>

<p>
  <%= f.label :value %>
  <%= f.text_field :value %>
</p>

<div class="actions">
  <%= f.submit %>
  <%= link_to "Cancel", character %>
</div>
<% end %>
