<%= form_for(@category) do |f| %>
<%= render "shared/errors", model: @category %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name, class: "focus" %>
</p>

<p>
  <%= f.label :sort_order %>
  <%= f.text_field :sort_order %>
</p>

<div class="actions">
  <%= f.submit %>
  <%= link_to "Cancel", @category %>
</div>
<% end %>
