<h1>Categories</h1>
<%= link_to "new category", new_category_url, accesskey: "n", style: "display:none;" %>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr class="<%= cycle("odd", "even") %> mousehide">
    <td><%= link_to category.name, category_path(category) %></td>
    <td><%= category.sort_order %></td>
    <td>
      <%= edit_link_to edit_category_path(category), class: "link" %>
      <%= delete_link_to category, target: "Category #{category.name}", class: "link" %>
    </td>
  </tr>
<% end %>
</table>

<br />


