<h1>
  CATEGORY <%= @category.name %>
  <%= edit_link_to edit_category_path(@category) %>
</h1>

<ul>
  <% @category.tags.each do |tagg| %>
  <li>
    <%= link_to tagg.character.name, tagg.character %>
    (<%= tagg.value %>
    <%= edit_link_to edit_character_tag_path(tagg.character, tagg) %>)
  </li>
  <% end %>
</ul>
