<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/header" %>

    <% flash.each do |key, value| %>
    <div id="flash_<%= key %>" class="message">
      <p>
        <%= value %>
      </p>
    </div>
    <% end %>

    <div id="wrapper">
      <%= render "layouts/sidebar" %>

      <div id="content">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
